@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
}

main {
  display: block;
}

a {
  outline: none;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html body {
  width: 100%;
  height: 100%;
}
html body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html body::-webkit-scrollbar-track {
  background: transparent;
}
html body::-webkit-scrollbar-thumb {
  background: #97ebdb;
  border-radius: 10px;
}
html body header {
  width: 100%;
  min-width: 950px;
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
html body header.scroll .leftNav .leftNavBtn span {
  background: #00a29a;
}
html body header .leftNav {
  position: fixed;
  width: 60px;
  height: 100%;
  z-index: 100;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
}
html body header .leftNav.display {
  width: 300px;
  background: rgba(0, 0, 0, 0.7882352941);
}
html body header .leftNav.display::before {
  opacity: 1;
}
html body header .leftNav .leftNavBtn {
  width: 60px;
  height: 60px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 0px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}
html body header .leftNav .leftNavBtn:active span, html body header .leftNav .leftNavBtn.active span {
  position: absolute;
}
html body header .leftNav .leftNavBtn:active span:nth-of-type(1), html body header .leftNav .leftNavBtn.active span:nth-of-type(1) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
html body header .leftNav .leftNavBtn:active span:nth-of-type(2), html body header .leftNav .leftNavBtn.active span:nth-of-type(2) {
  opacity: 0;
}
html body header .leftNav .leftNavBtn:active span:nth-of-type(3), html body header .leftNav .leftNavBtn.active span:nth-of-type(3) {
  -webkit-transform: scaleX(-1) rotate(-135deg);
          transform: scaleX(-1) rotate(-135deg);
}
html body header .leftNav .leftNavBtn span {
  display: block;
  width: 60%;
  height: 6px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}
html body header .bigList {
  float: right;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}
html body header .bigList li {
  color: #595757;
  font-size: 27px;
  margin: 0px 8px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid 3px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: bold;
}
html body header .bigList li:hover, html body header .bigList li:active, html body header .bigList li.active {
  color: #00a29a;
}
html body main {
  width: 100%;
  min-width: 950px;
  height: auto;
  margin-top: 250px;
}
html body main .mainBg {
  width: 100%;
  min-width: 950px;
  height: 365px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html body main .mainBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1920px;
  height: 365px;
  background: url("../images/作品集/插圖/star.jpg") no-repeat;
  background-size: cover;
  background-position-y: -365px;
}
html body main .stickerBox {
  width: 900px;
  height: auto;
  margin: 0 auto;
}
html body main .stickerBox .sticker {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: url("../images/sticker.jpg") no-repeat;
  background-size: 110%;
  background-position: -5px -48px;
  margin-left: 150px;
}
html body main article {
  width: 900px;
  height: auto;
  margin: 0 auto;
}
html body main article h1 {
  font-size: 36px;
  color: #231815;
  padding-bottom: 24px;
}
html body main article section {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
html body main article section:last-child {
  margin: 0;
}
html body main article section.introBox {
  border-bottom: solid 2px #000000;
}
html body main article section.introBox .infoBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body main article section.introBox .infoBox .secTitle {
  color: #231815;
  font-size: 22px;
  font-weight: bold;
}
html body main article section.introBox .infoBox .secTitle p {
  line-height: 40px;
}
html body main article section.introBox .infoBox .secTitle p.franch {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
html body main article section.introBox .infoBox .contactBox {
  width: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 50px;
}
html body main article section.introBox .infoBox .contactBox li {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #231815;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
html body main article section.introBox .infoBox .contactBox li:nth-last-of-type(1), html body main article section.introBox .infoBox .contactBox li:nth-last-of-type(2) {
  margin: 0;
}
html body main article section.introBox .infoBox .contactBox li i {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main article section.introBox .infoBox .contactBox li i.location_ic {
  background: url("../images/icon/01.png") no-repeat center;
  background-size: contain;
}
html body main article section.introBox .infoBox .contactBox li i.birthday_ic {
  background: url("../images/icon/04.png") no-repeat center;
  background-size: contain;
}
html body main article section.introBox .infoBox .contactBox li i.phone_ic {
  background: url("../images/icon/03.png") no-repeat center;
  background-size: contain;
}
html body main article section.introBox .infoBox .contactBox li i.mail_ic {
  background: url("../images/icon/02.png") no-repeat center;
  background-size: contain;
}
html body main article section.cv .textBox {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}
html body main article section.cv .textBox p {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 30px;
}
html body main article section.cv .textBox p:last-child {
  margin: 0;
}
html body main article section.cv .skillBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
html body main article section.cv .skillBox div {
  width: 48%;
  height: auto;
}
html body main article section.cv .skillBox div .title {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #00a29a;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
html body main article section.cv .skillBox div .title h2 {
  color: #00a29a;
  font-size: 32px;
  font-weight: bold;
}
html body main article section.cv .skillBox div ul {
  width: 100%;
  height: auto;
  padding-left: 30px;
}
html body main article section.cv .skillBox div ul li {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  list-style: disc;
}
html body main article section.cv .skillBox div ul li:last-child {
  margin: 0;
}
html body main article section.cv .workBox {
  width: 100%;
  height: auto;
}
html body main article section.cv .workBox .title {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #00a29a;
  padding: 0 20px 20px;
  margin-bottom: 40px;
}
html body main article section.cv .workBox .title h2 {
  color: #00a29a;
  font-size: 32px;
  font-weight: bold;
}
html body main article section.cv .workBox .content {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #00a29a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 40px;
  margin-bottom: 40px;
}
html body main article section.cv .workBox .content.noBorder {
  border: none;
}
html body main article section.cv .workBox .content .left {
  width: 300px;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main article section.cv .workBox .content .left .smallTitle {
  color: #00a29a;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
html body main article section.cv .workBox .content .left .text {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
html body main article section.cv .workBox .content .left .text:last-child {
  margin: 0;
}
html body main article section.cv .workBox .content .right {
  width: 100%;
  height: auto;
}
html body main article section.cv .workBox .content .right p {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
}
html body main article section.cv .workBox .content .right ul {
  width: 100%;
  height: auto;
  padding-left: 20px;
}
html body main article section.cv .workBox .content .right ul.pro {
  padding-top: 30px;
}
html body main article section.cv .workBox .content .right ul.pro li {
  list-style: disc;
}
html body main article section.cv .workBox .content .right ul li {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  list-style: decimal;
  margin-bottom: 10px;
}
html body main article section.cv .workBox .content .right ul li span {
  display: block;
  padding-top: 10px;
}
html body main article section.cv .workBox .content .right ul li:last-child {
  margin: 0;
}
html body main article section.cv .workBox .imgBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px #00a29a;
  padding: 0 20px 80px;
  margin-bottom: 40px;
}
html body main article section.cv .workBox .imgBox .left {
  width: 400px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main article section.cv .workBox .imgBox .left img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
html body main article section.cv .workBox .imgBox .right {
  width: 100%;
  height: auto;
  padding-left: 60px;
}
html body main article section.cv .workBox .imgBox .right p {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
html body main article section.cv .workBox .imgBox .right p:last-child {
  margin: 0;
}
html body main article section.cv .workBox .videoBox {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #00a29a;
  padding: 0 20px 80px;
  margin-bottom: 40px;
}
html body main article section.cv .workBox .videoBox > div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
html body main article section.cv .workBox .videoBox > div:last-child {
  margin: 0;
}
html body main article section.cv .workBox .videoBox > div video {
  width: 350px;
  height: auto;
  margin-right: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main article section.cv .workBox .videoBox > div iframe {
  width: 350px;
  height: 197px;
  margin-right: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body main article section.cv .workBox .videoBox > div .infoBox {
  width: 100%;
  height: auto;
}
html body main article section.cv .workBox .videoBox > div .infoBox .videoTitle {
  color: #3E3A39;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
html body main article section.cv .workBox .videoBox > div .infoBox .text {
  color: #3E3A39;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
html body main article section.artWork .title {
  color: #00a29a;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
}
html body main article section.artWork .title:first-child {
  margin-top: 0;
}
html body main article section.artWork .videoBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
html body main article section.artWork .videoBox div:not(.infoBox) {
  width: 30%;
  height: auto;
  padding-bottom: 10px;
}
html body main article section.artWork .videoBox div:not(.infoBox):nth-last-of-type(1), html body main article section.artWork .videoBox div:not(.infoBox):nth-last-of-type(2) {
  margin: 0;
}
html body main article section.artWork .videoBox div:not(.infoBox) video {
  width: 100%;
  height: 152px;
}
html body main article section.artWork .videoBox div:not(.infoBox) .videoTitle {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}
html body main article section.artWork .videoBox div:not(.infoBox) .text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
}
html body main article section.artWork .videoBox s {
  width: 30%;
}
html body main article section.artWork .comicBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
html body main article section.artWork .comicBox a {
  width: 30%;
  margin-bottom: 44px;
}
html body main article section.artWork .comicBox a:nth-last-of-type(1), html body main article section.artWork .comicBox a:nth-last-of-type(2), html body main article section.artWork .comicBox a:nth-last-of-type(3) {
  margin: 0;
}
html body main article section.artWork .comicBox a img {
  width: 100%;
}
html body main article section.artWork .bannerBox {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
html body main article section.artWork .bannerBox a {
  width: 100%;
  height: auto;
  margin-bottom: 44px;
}
html body main article section.artWork .bannerBox a:last-child {
  margin: 0;
}
html body main article section.artWork .bannerBox a img {
  width: 100%;
}
html body main .goTop {
  display: block;
  width: 65px;
  height: 65px;
  background: #c9c9ca;
  border-radius: 50%;
  margin: 24px auto;
  position: relative;
}
html body main .goTop::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 20px 14px;
  border-color: #ffffff transparent;
}
html body main .goTop:hover::before, html body main .goTop:active::before, html body main .goTop.active::before {
  -webkit-animation: arrowMove 0.8s ease 0s infinite;
          animation: arrowMove 0.8s ease 0s infinite;
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
html body footer {
  width: 100%;
  height: 60px;
  background: #00a29a;
}
html body footer.rwd {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 17vw;
}
html body footer.rwd ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body footer ul {
  display: none;
  width: 100%;
  height: 100%;
}
html body footer ul li {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
html body footer ul li.active {
  background: #00888f;
}
html body footer ul li i {
  display: block;
  width: 7vw;
  height: 7vw;
  background: url("../images/icon/footer_ic.png") no-repeat;
  background-size: 500%;
}
html body footer ul li i.home_ic {
  background-position-x: 0;
}
html body footer ul li i.cv_ic {
  background-position-x: 25%;
}
html body footer ul li i.anime_ic {
  background-position-x: 75%;
}
html body footer ul li i.img_ic {
  background-position-x: calc(100% - 1px);
}
html body footer ul li p {
  font-size: 3vw;
  color: #ffffff;
  margin-top: 1vw;
  text-align: center;
}

@media only screen and (max-width: 420px) {
  html body header {
    display: none;
  }
  html body main {
    min-width: 0;
    margin-top: 12vh;
  }
  html body main .mainBg {
    min-width: 0;
    height: 20vh;
  }
  html body main .mainBg::before {
    width: 100%;
    height: 100%;
    background-size: 300%;
    background-position: -130vw -60vw;
  }
  html body main .stickerBox {
    width: 100%;
  }
  html body main .stickerBox .sticker {
    width: 33vw;
    height: 33vw;
    background-size: 140%;
    background-position: -5vw -13vw;
    margin-left: 10vw;
  }
  html body main article {
    width: 100%;
  }
  html body main article h1 {
    font-size: 7vw;
    padding: 2vw 0 5vw 16vw;
  }
  html body main article section {
    margin-bottom: 5vw;
  }
  html body main article section.introBox {
    position: relative;
    border: none;
    margin: 0;
  }
  html body main article section.introBox .infoBox .contactBox {
    display: none;
  }
  html body main article section.introBox .infoBox .secTitle {
    position: absolute;
    top: -9vw;
    right: 2vw;
  }
  html body main article section.introBox .infoBox .secTitle p {
    font-size: 3vw;
    line-height: 6.5vw;
  }
  html body main article section.cv {
    padding: 0 3vw;
  }
  html body main article section.cv .textBox p {
    font-size: 3.7vw;
    line-height: 5.5vw;
  }
  html body main article section.cv .skillBox {
    margin-bottom: 15vw;
  }
  html body main article section.cv .skillBox div {
    width: 46%;
  }
  html body main article section.cv .skillBox div .title {
    padding-bottom: 3vw;
    margin-bottom: 3vw;
  }
  html body main article section.cv .skillBox div .title h2 {
    font-size: 8vw;
  }
  html body main article section.cv .skillBox div ul {
    padding-left: 5vw;
  }
  html body main article section.cv .skillBox div ul li {
    font-size: 3.4vw;
  }
  html body main article section.cv .workBox .title {
    padding: 0 1.5vw 3vw;
    margin-bottom: 5vw;
  }
  html body main article section.cv .workBox .content {
    display: block;
    padding: 0 1.5vw 5vw;
    margin-bottom: 5vw;
  }
  html body main article section.cv .workBox .content .left {
    width: 100%;
    margin-bottom: 24px;
  }
  html body main article section.cv .workBox .content .left .smallTitle {
    font-size: 5vw;
  }
  html body main article section.cv .workBox .content .left .text {
    font-size: 4.2vw;
  }
  html body main article section.cv .workBox .content .right p {
    padding: 0;
    font-size: 3.7vw;
  }
  html body main article section.cv .workBox .content .right ul {
    padding-left: 5vw;
  }
  html body main article section.cv .workBox .content .right ul.pro {
    padding-top: 0;
  }
  html body main article section.cv .workBox .content .right ul li {
    font-size: 3.7vw;
  }
  html body main article section.cv .workBox .imgBox {
    display: block;
    padding: 0 1.5vw 5vw;
    margin-bottom: 5vw;
  }
  html body main article section.cv .workBox .imgBox .left {
    width: 100%;
  }
  html body main article section.cv .workBox .imgBox .right {
    padding: 5vw 0 0 0;
  }
  html body main article section.cv .workBox .imgBox .right p {
    font-size: 4vw;
  }
  html body main article section.cv .workBox .videoBox {
    padding: 0 1.5vw 5vw;
    margin-bottom: 5vw;
  }
  html body main article section.cv .workBox .videoBox > div {
    display: block;
  }
  html body main article section.cv .workBox .videoBox > div iframe {
    width: 100%;
    height: 52vw;
    margin: 0;
  }
  html body main article section.cv .workBox .videoBox > div video {
    width: 100%;
    margin: 0;
  }
  html body main article section.cv .workBox .videoBox > div .infoBox .videoTitle {
    margin: 5vw 0 3vw;
  }
  html body main article section.artWork .title {
    margin: 7vw;
  }
  html body main article section.artWork .videoBox div:not(.infoBox):nth-of-type(1), html body main article section.artWork .videoBox div:not(.infoBox):nth-of-type(2), html body main article section.artWork .videoBox div:not(.infoBox):nth-of-type(3) {
    display: none;
  }
  html body main article section.artWork .videoBox div:not(.infoBox) video {
    height: 17vw;
  }
  html body main article section.artWork .videoBox div:not(.infoBox) .videoTitle {
    height: 10vw;
    font-size: 5vw;
    margin: 3vw 0;
  }
  html body main article section.artWork .videoBox div:not(.infoBox) .text {
    font-size: 4vw;
    font-weight: bold;
    line-height: 5.5vw;
  }
  html body footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 17vw;
  }
  html body footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}