html {
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    body {
        width: 100%;
        height: 100%;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #97ebdb;
            border-radius: 10px;
        }

        header {
            width: 100%;
            min-width: 1280px;
            height: 60px;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1;

            &.scroll {
                
                .leftNav {

                    .leftNavBtn {

                        span {
                            background: #00a29a;
                        }
                    }
                }
            }

            &.rwd {
                display: none;
            }

            .leftNav {
                position: fixed;
                width: 60px;
                height: 100%;
                z-index: 100;
                transition: 0.5s all;
                overflow: hidden;

                &.display {
                    width: 300px;
                    background: #000000c9;

                    &::before {
                        opacity: 1;
                    }
                }

                .leftNavBtn {
                    width: 60px;
                    height: 60px;
                    float: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 6px 0px;
                    cursor: pointer;
                    position: absolute;
                    right: 0px;
                    top: 0px;

                    &:active,&.active {

                        span {
                            position: absolute;

                            &:nth-of-type(1) {
                                transform: rotate(225deg);
                            }

                            &:nth-of-type(2) {
                                opacity: 0;
                            }

                            &:nth-of-type(3) {
                                transform: scaleX(-1) rotate(-135deg);
                            }
                        }
                    }
    
                    span {
                        display: block;
                        width: 60%;
                        height: 6px;
                        border-radius: 10px;
                        background: #ffffff;
                        transition: 0.8s all;
                    }
                }
            }

            .bigList {
                float: right;
                width: auto;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 16px;

                li {
                    color: #595757;
                    font-size: 27px;
                    margin: 0px 8px;
                    cursor: pointer;
                    box-sizing: border-box;
                    border-bottom: solid 3px transparent;
                    transition: 0.3s all;
                    font-weight: bold;

                    &:hover,&:active,&.active {
                        color: #00a29a;
                    }
                }
            }
        }

        main {
            width: 100%;
            min-width: 1280px;
            height: auto;
            margin-top: 152px;

            &.rwd {
                margin-top: 22vw;
                padding-bottom: 17vw;

                .mainBg {
                    width: 100%;
                    height: 45vw;

                    &::before {
                        width: 100%;
                        height: 100%;
                        background: url('../images/作品集/插圖/star.jpg') no-repeat -58vw -36vw;
                        background-size: 200%;
                    }
                }

                .sticker {
                    width: 34vw;
                    height: 34vw;
                    background: url('../images/sticker.jpg') no-repeat -3vw -11vw;
                    background-size: 130%;
                }

                article {
                    width: auto;

                    .title1 {
                        font-size: 9vw;
                        padding: 3vw 0;
                    }
                    
                    .title2 {
                        font-size: 12vw;
                        margin: 10vw 0;
                    }

                    .secTitle {
                        font-size: 4vw;

                        p {
                            line-height: 6vw;
                            font-weight: normal;
                        }
                    }

                    section {

                        &.introBox {

                            .contactBox {
                                width: 63vw;
                                margin-top: 4vw;

                                li {
                                    width: 100%;
                                    height: 12vw;
                                    font-size: 5.5vw;
                                    margin: 0;

                                    i {
                                        width: 8vw;
                                        height: 8vw;
                                        margin-right: 4vw;
                                    }
                                }
                            }
                        }

                        &.cv {
                        
                            .cvImg {
                                width: 72%;
                                height: 0;
                                padding-top: 196vw;
                                background: url('../images/cv_mobile.jpg') no-repeat;
                                background-size: 100%;
                            }
                        }

                        &.autobiography {

                            .textBox {
                                padding: 0 6vw;

                                p {
                                    font-weight: normal;
                                    font-size: 3vw;
                                    line-height: 5vw;
                                    margin-bottom: 4vw;
                                    letter-spacing: -3px;
                                }

                                .innerWrap {
                                    display: none;
                                    margin-left: 3vw;

                                    &.display {
                                        display: inline;
                                    }

                                    &.close {
                                        margin: 3vw 0 0 0;
                                        display: block;
                                        text-align: center;
                                        color: #1e449a;
                                        font-weight: bold;

                                        span {
                                            position: relative;

                                            &::before,&::after {
                                                content: "";
                                                position: absolute;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                width: 0;
                                                height: 0;
                                                border-style: solid;
                                                border-width: 0 1vw 2vw 1vw;
                                                border-color: #1e449a transparent;
                                            }

                                            &::before {
                                                left: -3vw;
                                            }

                                            &::after {
                                                right: -3vw;
                                            }
                                        }
                                    }

                                    .innerBtn {
                                        color: #1e449a;
                                        font-weight: bold;
                                        position: relative;

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            width: 100%;
                                            height: 3px;
                                            background: #1e499a;
                                            left: 0;
                                            bottom: -3px;
                                        }
                                    }
                                }

                                .innerBox {
                                    display: none;

                                    &.display {
                                        display: inline;
                                    }
                                }
                            }
                        }

                        &.artWork {

                            .title2 {
                                margin: 10vw 0;
                            }

                            .videoBox {

                                div:not(.infoBox) {
                                    width: 92%;
                                    display: flex;
                                    margin-bottom: 3vw;

                                    video {
                                        width: 44vw;
                                        height: auto;
                                        flex-shrink: 0;
                                    }

                                    .infoBox {
                                        margin-left: 3vw;

                                        .videoTitle {
                                            font-size: 5vw;
                                            margin: 2vw 0;
                                        }

                                        .text {
                                            font-size: 3vw;
                                            line-height: 4vw;
                                        }
                                    }
                                }
                            }

                            .comicBox {
                                flex-wrap: nowrap;
                                justify-content: flex-start;
                                overflow-x: auto;

                                a {
                                    width: 33%;
                                    flex-shrink: 0;
                                    margin: 0 0 0 4vw !important;

                                    &:last-child {
                                        margin-right: 4vw !important;
                                    }
                                }
                            }

                            .bannerBox {
                                
                                a {
                                    width: 94%;
                                    margin-bottom: 3vw;
                                }
                            }
                        }
                    }
                }

                .goTop {
                    width: 15vw;
                    height: 15vw;
                    margin: 14vw auto;

                    &:hover,&:active,&.active {
                        
                        &::before {
                            animation: none;
                        }
                    }

                    &::before {
                        border-width: 0 4vw 6vw 4vw;
                    }
                }
            }

            .mainBg {
                width: 100%;
                height: 365px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1920px;
                    height: 365px;
                    background: url('../images/作品集/插圖/star.jpg') no-repeat;
                    background-size: cover;
                    background-position-y: -365px;
                }
            }
            .sticker {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background: url('../images/sticker.jpg') no-repeat;
                background-size: 130%;
                background-position: -32px -108px;
                margin: 0 auto;
            }

            article {
                width: 1280px;
                height: auto;
                margin: 0 auto;

                //開頭大標--name
                .title1 {
                    font-size: 60px;
                    color: #000000;
                    text-align: center;
                    padding: 22px 0;
                }
                //開頭大標--sectionName
                .title2 {
                    font-size: 72px;
                    font-weight: bold;
                    color: #00a29a;
                    text-align: center;
                }
                //小標 h2
                .secTitle {
                    font-size: 21px;
                    color: #000000;
                    font-weight: bold;
                    text-align: center;

                    p {
                        line-height: 26px;
                    }
                }

                section {
                    margin-bottom: 60px;

                    &:last-child {
                        margin: 0;
                    }

                    //自我介紹
                    &.introBox {
                        width: 100%;
                        height: auto;
    
                        .contactBox {
                            width: 500px;
                            height: auto;
                            display: flex;
                            flex-wrap: wrap;
                            margin: 32px auto 0;
                            
                            li {
                                width: 50%;
                                height: auto;
                                display: flex;
                                color: #000000;
                                font-size: 16px;
                                align-items: center;
                                margin-bottom: 10px;

                                &:nth-last-of-type(1),
                                &:nth-last-of-type(2) {
                                    margin: 0;
                                }

                                i {
                                    display: block;
                                    width: 40px;
                                    height: 40px;
                                    margin-right: 20px;

                                    &.location_ic {
                                        background: url('../images/icon/01.png') no-repeat center;
                                        background-size: 70%;
                                    }
                                    &.birthday_ic {
                                        background: url('../images/icon/04.png') no-repeat;
                                        background-size: 100%;
                                    }
                                    &.phone_ic {
                                        background: url('../images/icon/03.png') no-repeat;
                                        background-size: 100%;
                                    }
                                    &.mail_ic {
                                        background: url('../images/icon/02.png') no-repeat;
                                        background-size: 100%;
                                        background-position-y: 10px;
                                    }
                                }
                            }
                        }
                    }

                    //履歷表
                    &.cv {
                        width: 100%;
                        height: auto;
                        
                        .cvImg {
                            width: 1280px;
                            height: 600px;
                            object-fit: contain;
                            margin: 0 auto;
                            background: url('../images/cv.jpg') no-repeat;
                            background-size: 100%;
                        }
                    }

                    //自傳
                    &.autobiography {
                        width: 100%;
                        height: auto;

                        .textBox {
                            padding: 40px 40px 0;

                            p {
                                font-size: 18px;
                                font-weight: bold;
                                color: #000000;
                                line-height: 24px;
                                margin-bottom: 30px;
                            }

                            .innerWrap {
                                display: none;
                            }
                        }
                    }

                    //作品集
                    &.artWork {
                        width: 100%;
                        height: auto;

                        .title2 {
                            margin: 60px 0;
                        }

                        .videoBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;

                            div:not(.infoBox) {
                                width: 30%;
                                height: auto;
                                padding-bottom: 10px;

                                &:nth-last-of-type(1),
                                &:nth-last-of-type(2) {
                                    margin: 0;
                                }

                                video {
                                    width: 100%;
                                    height: 214px;
                                }

                                .videoTitle {
                                    font-weight: bold;
                                    font-size: 22px;
                                    margin: 10px 0;
                                }

                                .text {
                                    font-size: 18px;
                                    letter-spacing: 1px;
                                    line-height: 22px;
                                }
                            }

                            s {
                                width: 30%;
                            }
                        }

                        .comicBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;

                            a {
                                width: 30%;
                                margin-bottom: 44px;

                                &:nth-last-of-type(1),
                                &:nth-last-of-type(2),
                                &:nth-last-of-type(3) {
                                    margin: 0;
                                }

                                img {
                                    width: 100%;
                                }
                            }
                        }

                        .bannerBox {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-evenly;

                            a {
                                width: 100%;
                                height: auto;
                                margin-bottom: 44px;

                                &:last-child {
                                    margin: 0;
                                }

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .goTop {
                display: block;
                width: 65px;
                height: 65px;
                background: #c9c9ca;
                border-radius: 50%;
                margin: 24px auto;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 14px 20px 14px;
                    border-color: #ffffff transparent;
                }

                &:hover,&:active,&.active {
                        
                    &::before {
                        animation: arrowMove 0.8s ease 0s infinite;
                    }
                }

                @keyframes arrowMove {
                    0% {
                        transform: translate(-50%,-50%);
                    }

                    50% {
                        transform: translate(-50%,-75%);
                    }

                    100% {
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

        footer {
            width: 100%;
            height: 60px;
            background: #00a29a;

            &.rwd {
                position: fixed;
                bottom: 0;
                left: 0;
                height: 17vw;

                ul {
                    display: flex;
                }
            }

            ul {
                display: none;
                width: 100%;
                height: 100%;

                li {
                    width: 20%;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    &.active {
                        background: #00888f;
                    }

                    i {
                        display: block;
                        width: 7vw;
                        height: 7vw;
                        background: url('../images/icon/footer_ic.png') no-repeat;
                        background-size: 500%;

                        &.home_ic {
                            background-position-x: 0;
                        }
                        &.cv_ic {
                            background-position-x: 25%;
                        }
                        &.auto_ic {
                            background-position-x: calc(50% + 2px);
                        }
                        &.anime_ic {
                            background-position-x: 75%;
                        }
                        &.img_ic {
                            background-position-x: 100%;
                        }
                    }

                    p {
                        font-size: 3vw;
                        color: #ffffff;
                        margin-top: 1vw;
                        text-align: center;
                    }
                }
            }
        }
    }
}